<!--app-header></app-header-->

<div class="app d-sm-flex flex-sm-row">
  <app-navbar></app-navbar>

  <div class="container-fluid">
    <h1>GIntercom</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus porttitor mi non felis hendrerit, quis placerat sem interdum.
      Curabitur in erat id enim facilisis vehicula id at risus. Quisque at volutpat lacus. Suspendisse quis tristique urna, a blandit
      nunc. Sed in mattis lacus. Vivamus ultrices sem ac est consectetur, ac feugiat velit iaculis. Aliquam dignissim aliquet orci ac
      vehicula. Mauris pellentesque nunc ac imperdiet luctus. Duis placerat malesuada lacus, et ornare tellus. Phasellus blandit, quam a
      malesuada convallis, est enim malesuada sapien, et rutrum nunc ligula ut lorem. Integer et accumsan augue. Nam commodo elit eget metus
      malesuada, at vulputate dolor gravida. Curabitur quis elementum felis.
    <p>

    <p>Vestibulum sed efficitur massa. Donec lorem enim, rhoncus in mattis a, congue vitae nisl. Aenean vitae congue lacus. Aliquam erat
      volutpat. In nec tristique ligula. Phasellus ut mattis lorem, a vulputate nibh. Suspendisse a vulputate neque, sit amet
      convallis mi. Aliquam tincidunt ipsum ut est condimentum, a interdum tortor imperdiet. Integer lorem mi, porta non efficitur nec,
      tincidunt in tellus.</p>

    <p>Aliquam laoreet gravida aliquam. Donec euismod semper lobortis. Morbi nec iaculis sem. Etiam leo orci, sagittis auctor egestas
      quis, sollicitudin quis felis. Nullam turpis mauris, tempor vitae purus vitae, finibus mollis purus. Cras pretium sit amet
      nunc non dictum. Curabitur eu nulla viverra, molestie lacus venenatis, scelerisque sem.</p>

    <p>Donec dignissim erat ut tincidunt faucibus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
      Quisque lacinia urna non risus sollicitudin, non euismod quam pharetra. Morbi hendrerit sodales feugiat. Suspendisse
      faucibus elementum auctor. Duis nec commodo mi. Proin fringilla tristique placerat. In eget dolor erat. Pellentesque consequat,
      nulla vel consectetur suscipit, massa arcu rhoncus nunc, sed tincidunt purus sem ut nunc. Aliquam enim dolor, congue at sapien eget,
      blandit consequat tellus. Praesent et eleifend nunc, nec scelerisque nibh. Integer sollicitudin lorem sit amet ultrices consequat.
      Vivamus vulputate nibh et lorem pharetra, ut bibendum libero fermentum.</p>

    <p>Suspendisse vel diam venenatis, consectetur erat quis, pretium orci. In varius nunc id magna consequat, vel aliquet eros ultrices.
      Praesent pharetra neque ac elit pulvinar interdum. Maecenas sollicitudin magna sed diam viverra, non tincidunt enim
      tincidunt. Aliquam nibh risus, pretium eget mi id, congue molestie velit. Duis id erat quam. Nullam fermentum tellus nec diam
      vestibulum luctus.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus porttitor mi non felis hendrerit, quis placerat sem interdum.
      Curabitur in erat id enim facilisis vehicula id at risus. Quisque at volutpat lacus. Suspendisse quis tristique urna, a blandit
      nunc. Sed in mattis lacus. Vivamus ultrices sem ac est consectetur, ac feugiat velit iaculis. Aliquam dignissim aliquet orci ac
      vehicula. Mauris pellentesque nunc ac imperdiet luctus. Duis placerat malesuada lacus, et ornare tellus. Phasellus blandit, quam a
      malesuada convallis, est enim malesuada sapien, et rutrum nunc ligula ut lorem. Integer et accumsan augue. Nam commodo elit eget metus
      malesuada, at vulputate dolor gravida. Curabitur quis elementum felis.
    <p>

    <p>Vestibulum sed efficitur massa. Donec lorem enim, rhoncus in mattis a, congue vitae nisl. Aenean vitae congue lacus. Aliquam erat
      volutpat. In nec tristique ligula. Phasellus ut mattis lorem, a vulputate nibh. Suspendisse a vulputate neque, sit amet
      convallis mi. Aliquam tincidunt ipsum ut est condimentum, a interdum tortor imperdiet. Integer lorem mi, porta non efficitur nec,
      tincidunt in tellus.</p>

    <p>Aliquam laoreet gravida aliquam. Donec euismod semper lobortis. Morbi nec iaculis sem. Etiam leo orci, sagittis auctor egestas
      quis, sollicitudin quis felis. Nullam turpis mauris, tempor vitae purus vitae, finibus mollis purus. Cras pretium sit amet
      nunc non dictum. Curabitur eu nulla viverra, molestie lacus venenatis, scelerisque sem.</p>

    <p>Donec dignissim erat ut tincidunt faucibus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
      Quisque lacinia urna non risus sollicitudin, non euismod quam pharetra. Morbi hendrerit sodales feugiat. Suspendisse
      faucibus elementum auctor. Duis nec commodo mi. Proin fringilla tristique placerat. In eget dolor erat. Pellentesque consequat,
      nulla vel consectetur suscipit, massa arcu rhoncus nunc, sed tincidunt purus sem ut nunc. Aliquam enim dolor, congue at sapien eget,
      blandit consequat tellus. Praesent et eleifend nunc, nec scelerisque nibh. Integer sollicitudin lorem sit amet ultrices consequat.
      Vivamus vulputate nibh et lorem pharetra, ut bibendum libero fermentum.</p>

    <p>Suspendisse vel diam venenatis, consectetur erat quis, pretium orci. In varius nunc id magna consequat, vel aliquet eros ultrices.
      Praesent pharetra neque ac elit pulvinar interdum. Maecenas sollicitudin magna sed diam viverra, non tincidunt enim
      tincidunt. Aliquam nibh risus, pretium eget mi id, congue molestie velit. Duis id erat quam. Nullam fermentum tellus nec diam
      vestibulum luctus.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus porttitor mi non felis hendrerit, quis placerat sem interdum.
      Curabitur in erat id enim facilisis vehicula id at risus. Quisque at volutpat lacus. Suspendisse quis tristique urna, a blandit
      nunc. Sed in mattis lacus. Vivamus ultrices sem ac est consectetur, ac feugiat velit iaculis. Aliquam dignissim aliquet orci ac
      vehicula. Mauris pellentesque nunc ac imperdiet luctus. Duis placerat malesuada lacus, et ornare tellus. Phasellus blandit, quam a
      malesuada convallis, est enim malesuada sapien, et rutrum nunc ligula ut lorem. Integer et accumsan augue. Nam commodo elit eget metus
      malesuada, at vulputate dolor gravida. Curabitur quis elementum felis.
    <p>

    <p>Vestibulum sed efficitur massa. Donec lorem enim, rhoncus in mattis a, congue vitae nisl. Aenean vitae congue lacus. Aliquam erat
      volutpat. In nec tristique ligula. Phasellus ut mattis lorem, a vulputate nibh. Suspendisse a vulputate neque, sit amet
      convallis mi. Aliquam tincidunt ipsum ut est condimentum, a interdum tortor imperdiet. Integer lorem mi, porta non efficitur nec,
      tincidunt in tellus.</p>

    <p>Aliquam laoreet gravida aliquam. Donec euismod semper lobortis. Morbi nec iaculis sem. Etiam leo orci, sagittis auctor egestas
      quis, sollicitudin quis felis. Nullam turpis mauris, tempor vitae purus vitae, finibus mollis purus. Cras pretium sit amet
      nunc non dictum. Curabitur eu nulla viverra, molestie lacus venenatis, scelerisque sem.</p>

    <p>Donec dignissim erat ut tincidunt faucibus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
      Quisque lacinia urna non risus sollicitudin, non euismod quam pharetra. Morbi hendrerit sodales feugiat. Suspendisse
      faucibus elementum auctor. Duis nec commodo mi. Proin fringilla tristique placerat. In eget dolor erat. Pellentesque consequat,
      nulla vel consectetur suscipit, massa arcu rhoncus nunc, sed tincidunt purus sem ut nunc. Aliquam enim dolor, congue at sapien eget,
      blandit consequat tellus. Praesent et eleifend nunc, nec scelerisque nibh. Integer sollicitudin lorem sit amet ultrices consequat.
      Vivamus vulputate nibh et lorem pharetra, ut bibendum libero fermentum.</p>

    <p>Suspendisse vel diam venenatis, consectetur erat quis, pretium orci. In varius nunc id magna consequat, vel aliquet eros ultrices.
      Praesent pharetra neque ac elit pulvinar interdum. Maecenas sollicitudin magna sed diam viverra, non tincidunt enim
      tincidunt. Aliquam nibh risus, pretium eget mi id, congue molestie velit. Duis id erat quam. Nullam fermentum tellus nec diam
      vestibulum luctus.</p>
    <router-outlet></router-outlet>
  </div>
</div>
