<div class="custom-control custom-checkbox" *ngFor="let option of options; index as i">
  <input
    class="custom-control-input"
    type="checkbox"
    generatedId
    #checkbox
    (change)="onCheckboxChange($event, option)"
    [checked]="isOptionActive(option)"
  >
  <label class="custom-control-label" [autoFor]="checkbox">
    <ng-container *ngTemplateOutlet="labelTemplate || defaultLabelTemplate; context: {'$implicit': option}"></ng-container>
  </label>
</div>

<ng-template #defaultLabelTemplate let-option>{{ option }}</ng-template>
