<ul class="nav nav-pills flex-sm-column p-sm-2 position-fixed">
  <li class="nav-item" *ngFor="let item of items">
    <ng-template #tooltip>
      <div class="text-left">
        <strong>{{ item.title }}</strong><br/>
        {{ item.description }}
      </div>
    </ng-template>
    <a
      class="nav-link"
      routerLinkActive="active"
      [routerLink]="item.link"
      [routerLinkActiveOptions]="{exact: item.exact}"
      [ngbTooltip]="tooltip"
      [disableTooltip]="isMobile"
      placement="right"
      container="body"
    >
      <i [className]="item.icon"><span class="sr-only">{{ item.title }}</span></i>
    </a>
  </li>

  <li class="nav-item version d-none d-sm-block">
    GIntercom Version v0.1.2
  </li>
</ul>
