<h4>{{ isCreation() ? 'Add Group' : 'Edit Group ' + panelId }}</h4>
<form [formGroup]="panelEditForm" (validSubmit)="onSubmit()" bootstrapValidate>
  <div class="form-group">
    <label class="d-block">
      Panel-Id
      <input type="text" class="form-control" formControlName="id" [autofocus]="isCreation()">
    </label>
    <small class="form-text text-muted">The Panel-Id is used to uniquely reference this panel.</small>
  </div>
  <div class="form-group">
    <label class="d-block">
      Display-Name
      <input type="text" class="form-control" formControlName="display" [autofocus]="!isCreation()">
    </label>
    <small class="form-text text-muted">The Display-Name is used to represent the Panel to End-Users.</small>
  </div>

  <div class="row">
    <div class="col-6 mb-3">
      <label>Static Receive-Groups</label>
      <div class="card">
        <div class="card-body">
          <app-group-multi-select formControlName="rxGroups"></app-group-multi-select>
          <small class="form-text text-muted">The Display-Name is used to represent the Panel to End-Users.</small>
        </div>
      </div>
    </div>

    <div class="col-6 mb-3">
      <label>Static Transmit-Groups</label>
      <div class="card">
        <div class="card-body">
          <app-group-multi-select formControlName="txGroups"></app-group-multi-select>
          <small class="form-text text-muted">The Display-Name is used to represent the Panel to End-Users.</small>
        </div>
      </div>
    </div>
  </div>

  <label>Buttons</label>
  <app-buttons-editor
    [control]="panelEditForm.get('buttons')"
    class="d-block mb-3"
  ></app-buttons-editor>

  <button type="submit" class="btn btn-primary float-right" [class.disabled]="!panelEditForm.valid">
    {{ isCreation() ? 'Add Panel' : 'Save Panel' }}
  </button>

  <pre>
  {{ formValue | json }}
  </pre>
  Status: {{ formStatus }}
</form>
