<div class="actions dropdown" ngbDropdown>
  <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" ngbDropdownToggle>
    Actions
  </button>
  <div class="dropdown-menu" ngbDropdownMenu>
    <button *ngIf="device.provisioned" type="button" class="dropdown-item" (click)="unassignPanel()" ngbDropdownItem>Unassign Panel</button>
    <button *ngIf="!device.provisioned" type="button" class="dropdown-item" (click)="assignPanel()" ngbDropdownItem>Assign Panel</button>
    <button class="dropdown-item" type="button" ngbDropdownItem (click)="forceDisconnect()">
      Force Disconnect <i class="fa fa-exclamation-triangle text-danger"></i>
    </button>
  </div>
</div>
