<form [formGroup]="groupEditForm" (validSubmit)="onSubmit()" appValidateOnSubmit class="has-validation">
  <div class="form-group">
    <label for="groupId">Group-Id</label>
    <input type="text" class="form-control" id="groupId" aria-describedby="groupIdHelp" formControlName="groupId" required>
    <small id="groupIdHelp" class="form-text text-muted">The Group-Id is used to uniquely reference this group.</small>
  </div>
  <div class="form-group">
    <label for="displayName">Display.Name</label>
    <input type="text" class="form-control" id="displayName" aria-describedby="displayNameHelp" formControlName="displayName">
    <small id="displayNameHelp" class="form-text text-muted">The Display-Name is used to represent the Group to a human.</small>
  </div>

  <button type="submit" class="btn btn-primary float-right" [class.disabled]="!groupEditForm.valid">
    {{ groupId ? 'Save' : 'Add' }}
  </button>

  Value: {{ groupEditForm.value | json }}
</form>
