<div class="actions dropdown" ngbDropdown>
  <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" ngbDropdownToggle>
    Actions
  </button>
  <div class="dropdown-menu" ngbDropdownMenu>
    <button type="button" class="dropdown-item" (click)="editDialog.open(group.id)" ngbDropdownItem>Edit</button>
    <button class="dropdown-item" type="button" ngbDropdownItem (click)="deleteGroup()">
      Delete <i class="fa fa-exclamation-triangle text-danger"></i>
    </button>
  </div>
</div>
<app-group-edit-dialog #editDialog></app-group-edit-dialog>
