<div class="d-flex">
  <h2>{{ filter.title }}</h2>

  <a *ngIf="filter.active" class="close" ngbTooltip="Clear Filter" routerLink="/devices">&times;</a>
</div>

<table *ngIf="devices" class="table">
  <thead>
  <tr>
    <th>Provisioned</th>
    <th>Host-ID</th>
    <th>Remote IP</th>
    <th>Connection Time</th>
    <th>Assigned Panel</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let device of devices">
    <td>
      <app-device-status [device]="device"></app-device-status>
    </td>
    <td class="text-monospace">
      <a [routerLink]="['/devices', device.hostId]">
        {{ device.hostId }}
      </a>
    </td>
    <td class="text-monospace">{{ device.remoteIp }}</td>
    <td>{{ device.connectionTime | date:'medium' }}</td>
    <td>
      <a *ngIf="device.provisioned" [routerLink]="['/panels', device.panelId]">{{ device.panelId }}</a>
      <button
        (click)="assignPanel()"
        *ngIf="!device.provisioned"
        class="btn btn-primary btn-sm"
        type="button"
      >
        Assign Panel
      </button>
    </td>
    <td>
      <app-device-actions [device]="device"></app-device-actions>
    </td>
  </tr>
  <tr *ngIf="devices.length == 0">
    <td class="text-center font-italic" colspan="6">
      {{ filter.active ? 'No Devices match the Filter' : 'No Devices Connected' }}
    </td>
  </tr>
  </tbody>
</table>
