<h2>Connected Devices</h2>
<table class="table" *ngIf="devices">
  <thead>
  <tr>
    <th>Provisioned</th>
    <th>Host-ID</th>
    <th>Remote IP</th>
    <th>Connection Time</th>
    <th>Assigned Panel</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let device of devices">
    <td>
      <app-device-status [device]="device"></app-device-status>
    </td>
    <td class="text-monospace">{{ device.hostId }}</td>
    <td class="text-monospace">{{ device.remoteIp }}</td>
    <td>{{ device.connectionTime | date:'medium' }}</td>
    <td>
      <a *ngIf="device.provisioned" [routerLink]="['panel', device.panelId]">{{ device.panelId }}</a>
      <button
        *ngIf="!device.provisioned"
        class="btn btn-primary btn-sm"
        type="button"
        (click)="assignPanel()"
      >
        Assign Panel
      </button>
    </td>
    <td>
      <app-device-actions [device]="device"></app-device-actions>
    </td>
  </tr>
  <tr *ngIf="devices.length == 0">
    <td colspan="6" class="text-center font-italic">No Devices Connected</td>
  </tr>
  </tbody>
</table>
