<h2>Configured Groups</h2>
<table class="table" *ngIf="groups">
  <thead>
  <tr>
    <th>Group-Id</th>
    <th>Display-Name</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let group of groups">
    <td class="text-monospace">
      <a href (click)="editDialog.open(group.id)" preventDefault>{{ group.id }}</a>
    </td>
    <td>{{ group.display }}</td>
    <td>
      <app-group-actions [group]="group"></app-group-actions>
    </td>
  </tr>
  <tr *ngIf="groups.length == 0">
    <td colspan="3" class="text-center font-italic">No Groups Configured</td>
  </tr>
  </tbody>
</table>

<button type="button" class="btn btn-primary" (click)="editDialog.open()">Add Group</button>
<app-group-edit-dialog #editDialog></app-group-edit-dialog>
