<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<base href="/ui">

	<title>Gintercom</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="/favicon.svg" rel="icon">
	<link href="ui-app/styles.css" rel="stylesheet">
</head>
<body>
<app-root></app-root>
<script src="ui-app/runtime.js" type="module"></script>
<script defer nomodule src="ui-app/runtime-es5.js"></script>

<script src="ui-app/polyfills.js" type="module"></script>
<script defer nomodule src="ui-app/polyfills-es5.js"></script>

<script src="ui-app/vendor.js" type="module"></script>
<script defer nomodule src="ui-app/vendor-es5.js"></script>

<script src="ui-app/main.js" type="module"></script>
<script defer nomodule src="ui-app/main-es5.js"></script>
</body>
</html>
