<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<base href="/ui">

	<title>Gintercom</title>
	<link href="ui-app/favicon.ico" rel="icon" type="image/x-icon">
	<link href="ui-app/styles.css" rel="stylesheet">
</head>
<body>
<app-root></app-root>
<script src="ui-app/runtime.js" type="module"></script>
<script defer nomodule src="ui-app/runtime-es5.js"></script>

<script src="ui-app/polyfills.js" type="module"></script>
<script defer nomodule src="ui-app/polyfills-es5.js"></script>

<script src="ui-app/vendor.js" type="module"></script>
<script defer nomodule src="ui-app/vendor-es5.js"></script>

<script src="ui-app/main.js" type="module"></script>
<script defer nomodule src="ui-app/main-es5.js"></script>
</body>
</html>
