<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<base href="/ui">

	<title>Gintercom</title>
	<link rel="icon" type="image/x-icon" href="ui-app/favicon.ico">
	<link rel="stylesheet" href="ui-app/styles.css">
</head>
<body>
<app-root></app-root>
<script src="ui-app/runtime-es2015.js" type="module"></script>
<script src="ui-app/runtime-es5.js" nomodule defer></script>
<script src="ui-app/polyfills-es5.js" nomodule defer></script>
<script src="ui-app/polyfills-es2015.js" type="module"></script>
<script src="ui-app/vendor-es2015.js" type="module"></script>
<script src="ui-app/vendor-es5.js" nomodule defer></script>
<script src="ui-app/main-es2015.js" type="module"></script>
<script src="ui-app/main-es5.js" nomodule defer></script>
</body>
</html>
